
.convo-delete-button {
    position: relative;
    left: 0;
    top: -63;
    width: 100%;
    height: 5%;
    color: white;
    text-align: right;
    *padding: 0 3.5vw;
    font-size: 4vw;
    z-index: 0;
    background: rgb(176, 32, 38);
}

a.alert-message.row.message-read {
    border-bottom: #ddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-top: 0;
    padding: 0;
}
.alert-message {
    min-height: 17vw;
    margin: 0 !important;
}
.vcenter:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.message-data {
    background-color: white;
    z-index: 1;
}

.alert-avatar {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    text-align: center;
    /* max-width: 50%; */
}
.message-avatar {
    border-radius: 50%;
    vertical-align: middle;
    max-width: 7.5vw;
    max-height: 7.5vw;
    box-shadow: 1px 2px 5px #555;
}




.col-70 {
    -webkit-flex: 0 0 70%;
    -moz-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}

.col-20 {
    -webkit-flex: 0 0 20%;
    -moz-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}


.no-marging {
    margin: 0 !important;
}
.message-username {
    padding-right: 5px;
    font-weight: 500;
    font-size: 3.4vw;
    -webkit-text-justify: auto;
    font-family: Gilroy-SemiBold;
    letter-spacing: -0.5px;
}
.no-padding {
    padding: 0 !important;
}

/*

*/

.el {
  transition: max-height 0.5s;
  overflow: hidden;
  max-height: 0;
}
.trigger:hover > .el {
  max-height: var(--max-height);
}

/*

*/
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}
.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*

*/
.truncate-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
}






